.anchor {
    text-decoration: none;
}

.custom-col {
    width: 30%;
    height: 300px; 
  }
  
  @media (max-width: 768px) {
    .custom-col {
      width: 100%; /* Full width on smaller screens */
      height: auto; /* Adjust height */
    }
  }
  
  .narrow-input {
    width: 60px;
    text-align: center;
    padding-left: 1px;
  }

  .right-align {
    float: right !important;
  }
  
  .container{
    box-sizing: border-box;
    overflow: auto;
    padding-bottom: 10px;
}

.navbar>div{
    margin-left: 20px;
    margin-right: 10px;
    justify-content: center;
    background-color:  #ffe6e6;
}

.navbar.fixed-bottom {
    background-color: #f8f9fa !important; /* Light background color */
  }

body {
    font-family: "Helvetica", Sans-Serif;
    font-size: small;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-color: #ffe6e6;
    height: 100%;
    margin: 0;
  }  

.social-icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-size: 1.5rem;
    color: #333;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #007bff;
}

@media (max-width: 767.98px) {
    .footer h3 {
        font-size: 1.25rem;
    }

    .footer p {
        font-size: 0.875rem;
    }

    .social-icons {
        flex-direction: column;
        align-items: center;
    }

    .social-icon {
        font-size: 1.25rem;
    }
}

marquee {
    font-size: 24px;
    color: white;
    background-color: purple;
  }
