{% extends 'base.html' %}
{% load static %}

{% block 'main' %}

      <!--Main content start-->
      <div class="container-fluid" 
      style="background-image: url('{% static "assets/images/lipstick.jpg" %}'); background-size: cover; background-position: center; min-height: 100vh;">
      
          <div class="row">
              <div class="col-6 mr-2">
                  <b>Nykaa Luxe
                      Open : 11:00 AM - 09:30 PM</b>
                  <p>
                      Infiniti Mall - Ground Floor, Unit No 14,New Link Road, Oshiwara,Andheri West, Mumbai - 400053 Ph: 022-22762722
                  </p>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3195.0143396761728!2d72.82832657433558!3d19.141253349922437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b6233c7b5a95%3A0x80de7f84f2b72a35!2sNykaa%20Luxe!5e1!3m2!1sen!2sin!4v1725918441823!5m2!1sen!2sin" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div> <!--Column1 Div-->
              <div class="col-6 ml-2">
                  <b>Nykaa On Trend - Seawoods Grand Central Mall
                      Open : 11:00 AM - 09:30 PM</b>
                  <p>
                      Upper Ground floor, Plot No.R-1, Sector 40, Seawoods Railway Station, Navi Mumbai- 400706 Ph: 022-22762722
                  </p>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3197.3272210374384!2d73.01602297433247!3d19.021393103686272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c3964fffffff%3A0xaeb3a04f871796ec!2sNykaa%20On%20Trend!5e1!3m2!1sen!2sin!4v1725918307989!5m2!1sen!2sin" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div> <!--Column2 Div-->

          </div>  <!--Row Div-->
        </div> <!--Container Div-->
  
      </div>

      <!--Main content end-->
{% endblock 'main' %}