{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Nykaa.com - Buy Cosmetics Products & Beauty Products Online in India at Best ..nykaa.com</title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}"/>
    <link rel="icon" href="{% static 'assets/images/logo.webp' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
</head>
<body>
    <!-- <h1>Home page</h1> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: pink;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Nykaa-Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" aria-current="page" href="#" id="navbarCategories" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                <ul class="dropdown-menu" aria-labelledby="navbarCategories">
                    {% for cat_id, cat_name in categories %}
                    <li><a class="dropdown-item" href="/catfilter/{{ cat_id }}">{{ cat_name }}</a></li>
                    {% endfor %}
                  </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
              {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/viewcart">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
              {% endif %}
            </ul>
            <form class="d-flex" action="/prodfilter">
              <input class="form-control me-2" type="search" placeholder="Search" id="psearch" name="psearch" aria-label="Search" onclick="prodfilter">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <!--Header End-->
      <marquee behavior="scroll" direction="left">
        <span class="marquee-content">FREE SHIPPING ON ALL ORDERS ABOVE &#8377; 299 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  FREE SHIPPING ON ALL ORDERS ABOVE &#8377; 299 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  FREE SHIPPING ON ALL ORDERS ABOVE &#8377; 299 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  FREE SHIPPING ON ALL ORDERS ABOVE &#8377; 299 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  FREE SHIPPING ON ALL ORDERS ABOVE &#8377; 299 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  FREE SHIPPING ON ALL ORDERS ABOVE &#8377; 299 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   </span>
      </marquee>
      <div class="container">
        <div class="row mt-1">