{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Templates</title>
</head>
<body>
    <h1>Templates as Response</h1>
    <!-- <p>Data is: {{greet}}</p> -->
     {% comment %}
    <p>Value of X is: {{x}}</p>
    <p>Value of Y is: {{y}}</p>
    {% if x > y%}
        <p>{{x}} is greater</p>
    {% else %}
        <p>{{y}} is greater</p>
    {% endif %}
    
    {% for x in l%}
        {{x}} <br />
    {% endfor %}
    
    {% for x in products %}
        <!-- <p>{{x}}</p> -->
        <strong>Sr. No. </strong>{{ forloop.counter }} <br>
        <strong>Name: </strong>{{ x.name }} <br>
        <strong>Category: </strong>{{ x.cat }} <br>
        <strong>Price: </strong>{{ x.price }} <br>
        <hr>
    {% endfor %}
    {% endcomment %}

    <button onclick="greet()">Click me</button> <br /> <br />

    <img src="{% static 'images/nature.jpg' %}" alt="Nature" width="200px" height="200px" />

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>