{% extends 'base.html' %}
{% load static %}

{% block 'main' %}

<div class="container-fluid" 
style="background-image: url('{% static "assets/images/lipstick.jpg" %}'); background-size: cover; background-position: center; min-height: 100vh;">

<!-- Centered Content -->
<div class="col-md-4 shadow mt-4 p-4 mx-auto bg-white rounded">
            <h3 align="center">Login</h3>
            {% if errmsg %}
                <div class="alert alert-danger">
                    {{errmsg}}
                </div>
            {% endif %}
            <form method="POST" action="/login">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="uemail"><strong>Username: </strong></label>
                    <input type="text" class="form-control" name="uemail" id="uemail" placeholder="Enter Email address">
                </div>
                <div class="mb-3">
                    <label for="upass"><strong>Password: </strong></label>
                    <input type="password" class="form-control" name="upass" id="upass" placeholder="Enter Password">
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-danger" />
                    Not User? <a href="/register">Register</a>
                </div>
            </form>
            {% if success %}
                <div class="alert alert-success">
                    {{success}}
                </div>
            {% endif %}
    </div></div>
{% endblock 'main' %}