{% extends 'base.html' %}
{% load static %}

{% block 'main' %}

<!-- cart starts -->
<div class="row mt-3">
    <div class="col-md-9">
        <h5 class="bg-danger text-white p-2">Customer Details</h5>
        <p><strong>Name: </strong>{{ user.username }}</p>
        <p><strong>Mobile: </strong>N/A</p>
        <p><strong>Email: </strong>{{ user.email }}</p>
        <h5 class="bg-danger text-white p-2">Product Details</h5>
        {% for x in orders %}
        <div class="row mt-2">
            <div class="col-sm-6 custom-col">
                <img src="{{x.pid.pimage.url}}" class="card-img-top" height="90%" />
            </div>
            <div class="col-sm-6">
                <p><strong>Product Name: </strong>{{x.pid.name}}</p>
                <p><strong>Price: </strong>Rs. {{x.pid.price}}</p>
                <p><strong>Category: </strong>{{x.pid.get_cat_display}}</p>
                <p><strong>Product description: </strong>{{x.pid.pdetails}}</p>
                <p>
                    <strong>QTY:</strong>
                    <input type="number" value="{{x.qty}}" class="narrow-input" readonly />

                    <a href="/removeorder/{{x.id}}" class="btn btn-danger right-align">Remove</a>
                </p>                
            </div>
        </div>
        {% endfor %}
    </div> <!-- Customer and product details -->
    <div class="col-md-3">
        <h5 class="bg-danger text-white p-2">Total amount</h5>
        <p><strong>Total ({{product_count}} products): </strong>Rs. {{total_price}}</p>
        <hr>
        <p><strong>Total Amount: </strong>Rs. {{total_price}}</p>
        <a href="/" class="btn btn-danger">Shop more</a>
        <a href="/makepayment" class="btn btn-danger">Make Payment</a>
        <br><br>
        {% if success %}
            <div class="alert alert-success">
                {{success}}
            </div>
        {% endif %}

        {% if errmsg %}
            <div class="alert alert-danger">
                {{errmsg}}
            </div>
        {% endif %}
    </div> <!-- Total amount section -->
</div>
 <!-- cart ends -->

{% endblock 'main' %}